body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /*justify-items: center;*/
    align-items: center;
}

table, th, td {
     border: 1px solid black;
}

.formEditar {
    border: 2px solid black;
    border-radius: 10px;
}

.form-section{
    margin: 1em 0.5em;
}